<header class="navbar navbar-light sticky-top bg-light flex-md-nowrap p-0 shadow-sm">
    <a class="navbar-brand ps-3" href="#">Company name</a>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>
    </div>
</header>