@inherits LayoutComponentBase

<Header />

<div class="container-fluid">
    <div class="row flex-grow">
        <NavMenu />

        <main class="col px-4">
            <article class="pt-4">
                @Body
            </article>
        </main>
    </div>
</div>
