<input type="checkbox" title="Navigation menu" class="navbar-toggler position-absolute d-md-none" aria-controls="sidebarMenu" />
<nav id="sidebarMenu" class="sidebar" onclick="document.querySelector('.navbar-toggler').click()">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="weather">
                    <span class="bi bi-list-nested" aria-hidden="true"></span> Weather
                </NavLink>
            </div>
        </ul>
    </div>
</nav>